<h1> New Essential Oil</h1>

<% @errors.each do |error| %>
  <h2><%= error %></h2>
<% end %>

<%= form_tag "/oils", method: :post do %>
<div>
Name: <input type="text" name="name" value="<%= @oil.name %>">
</div>

<div>
Uses: <input type="text" name="uses" value="<%= @oil.uses %>">
</div>

<div>
Price: <input type="text" name="price" value="<%= @oil.price %>">
</div>

<div class= "black.text">
Supplier: <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
</div>


<div>
Image: <input type="text" name="image">
</div>

<input type="submit" value="Create Essential Oil">
<% end %>
