<a href="/">Home</a>
<br>
<h2><%= @oil.name %></h2>
<h4><%= @oil.uses %></h2>
<h3><%= @oil.price %></h2>
<img src=<%=@oil.image%> style="width:180px;height:228px;">

<a href="/oils/<%= @oil.id %>/edit">Edit Oil</a>
<%= link_to "Delete", "/oils/#{ @oil.id }" ,method: :delete %>