<a href="/">Home</a>
<br>
<h2><%= @oil.name %></h2>
<h4><%= @oil.uses %></h2>
<h3 class ="<%= "red-price" if @oil.discounted? %>">Price: <%= number_to_currency@oil.price %></h2>
<h4>Tax: <%= number_to_currency@oil.tax %></h4>
<h4>Total Price: <%= number_to_currency@oil.total %></h4>


<% @oil.images.each do |image| %>
<img src=<%= image.url %> style="width:180px;height:228px;">
<% end %>


<br>
<h4>  <%= @oil.sale_message %>  </h4>
<h5>supplied by <%= @oil.supplier.name %></h5>
<a href="/oils/<%= @oil.id %>/edit">Edit Oil</a>
<%= link_to "Delete", "/oils/#{ @oil.id }" ,method: :delete %> 

<%= form_tag "/orders", method: :post do %>
<div>
Quantity: <input type="text" name="quantity">
</div> 
<div>
Oil Id: <input type="text" name="oil_id">
</div>


<input type="submit" value="Buy Now">
<% end %>