<h1> Here is your Order </h1>

<h2> Order Id: <%= @order.id %> </h2>
<br>
<h2> Order Quantity: <%= @order.quantity %> </h2>
<br>
<h2> Oil Id: <%= @order.oil_id %> </h2> 
<br>
<h3> Subtotal: <%= @order.subtotal %> </h3>
<br>
<h4> Tax: <%= @order.tax %> </h4>
<br>
<h2> Grand Total: <%= @order.total %> </h2>