<h1> Your Cart </h1> 

<h2> Please review your items </h2>

<div class="well">
<% @carted_products.each do |carted_product| %>
    <h3><%= carted_product.oil.name %> - <%= number_to_currency(carted_product.oil.price) %> X <%= carted_product.quantity %> - <%= link_to "remove", "/carted_products/#{ carted_product.id }", method: :delete %></h3>
    <h6>Oil Id: <%= carted_product.oil.id %></h6>
    <br>
<% end %> 
</div>

 <%= form_tag "/orders", method: :post do %>
<div>

<input type="submit" value="Buy Now!" class="btn btn-primary">

<% end %> 


